[build-system]
requires = ["flit_core >=3.4,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "mcbootflash"
authors = [{name = "Alexander Bessman", email = "alexander.bessman@gmail.com"}]
dynamic = ["version", "description"]
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}
dependencies = [
    "pyserial",
    "intelhex",
    "progressbar2",
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
]
keywords = [
    "firmware",
    "flashing",
    "bootloader",
    "serial",
    "uart",
    "microchip",
    "pic24",
    "dspic33",
    "16-bit",
]

[project.urls]
Home = "https://github.com/bessman/mcbootflash"

[project.scripts]
mcbootflash = "mcbootflash:flash"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist =
    isort
    black
    prospector
    test
    report

[testenv:isort]
deps = isort
commands = isort --check-only .

[testenv:black]
deps = black
commands = black --check .

[testenv:prospector]
deps =
    prospector
    mypy
    bandit
commands = prospector .

[testenv:test]
usedevelop = True
deps =
    pytest
    pytest_mock
    mock_serial
    coverage
commands = coverage run -m pytest

[testenv:report]
deps = coverage
commands = coverage report
depends = test

[gh-actions]
python =
    3.7: test
    3.8: test
    3.9: test
    3.10: black, prospector, test, report
"""

[tool.isort]
profile = "black"
